In [4]:
first_name = 'Qusay'
last_name = 'Ahmed'

In [5]:
#shift + tab will show you the keywprds use
print("My first name is {} and my last name is {}".format(first_name, Last_name))

My first name is Qusay and my last name is Ahmed

In [7]:
print("my first name is {first} and my last name is {last}".format(first=first_name,last=last_name))

my first name is Qusay and my last name is Ahmed

In [11]:
len("Qusay")

5

In [14]:
len(['1','Qusay','1.5'])

3

In [27]:
f_var = 'Geety'
s_var = 25
th_var = 'Broadview ave'
fo_var = 'Student'
fi_var = '647-111-1111'

In [42]:
print("My name is {} and I am {} years old, I live in {}, I am s {} and my phone number is {b}".format(f_var,s_var,th_var,fo_var,b=fi_var))

My name is Geety and I am 25 years old, I live in Broadview ave, I am s Student and my phone number is 647-111-1111

In [43]:
print("hello, I am {name} and I am a {student}".format(name=f_var,student=fo_var))

hello, I am Geety and I am a Student

In [44]:
print("I am {age} and I live in {address}".format(age=s_var,address=th_var))

I am 25 and I live in Broadview ave

In [45]:
print(fi_var)

647-111-1111

In [62]:
print("Hello, My name is " + f_var,"," + " and I am" , s_var , "Years old", "I am a ", fo_var, "I live in", th_var, "and my phone number is", fi_var)

Hello, My name is Geety , and I am 25 Years old I am a  Student I live in Broadview ave and my phone number is 647-111-1111

In [64]:
bool()

False

In [131]:
my_str = "In the name of God"
my_str2 = 'Qusay1233'

In [140]:
# my_str2.istitle()
# my_str2.isspace()
# my_str.isdigit()
my_str.istitle() and my_str2.isalnum()

False

In [141]:
my_str.endswith('d') or my_str2.isnum()

True

In [130]:
print(my_str2.isalnum())
print(my_str.isalpha())
print(my_str.endswith('d'))
print(my_str.startswith("i")) # notice it start wil capital I
print(my_str.islower())
print(my_str.isupper())
print(my_str.istitle())
print(my_str.isnumeric())
print(my_str.isspace())

True
False
True
False
False
False
False
False
False

## list

In [142]:
type([]) # anything that u define inside [] is a list

list

In [144]:
lst_exmple = []
type(lst_exmple)

list

In [145]:
lst = list() # inbuilt func 'list()'
type(lst)

list

In [149]:
lst = ['Math', 'Sience', 100, 500, 40.22]

In [147]:
type(lst)

list

In [150]:
len(lst)

5

 ### inbuilt func inside list
 
 - append
 - insert 
 - extend
 - sum
 - pop
 - count
 - index
 - min,max

In [151]:
lst.append('new_var')   #add by default at the end of thr list

In [152]:
len(lst)

6

In [153]:
print(lst)

['Math', 'Sience', 100, 500, 40.22, 'new_var']

In [155]:
lst.insert(5,22) # insert in specific order      #insert(index,value)

In [157]:
print(lst)

['Math', 'Sience', 100, 500, 40.22, 22, 'new_var']

In [158]:
lst.insert(0, "first_item")

In [159]:
print(lst)

['first_item', 'Math', 'Sience', 100, 500, 40.22, 22, 'new_var']

In [160]:
lst[0]

'first_item'

In [168]:
lst[1:4]

['Math', 'Sience', 100]

In [169]:
lst[:]

['first_item', 'Math', 'Sience', 100, 500, 40.22, 22, 'new_var']

In [170]:
lst[2:]

['Sience', 100, 500, 40.22, 22, 'new_var']

In [171]:
lst.append(["Nested" , "list"])

In [175]:
lst

['first_item',
 'Math',
 'Sience',
 100,
 500,
 40.22,
 22,
 'new_var',
 ['Nested', 'list']]

In [176]:
print(lst)

['first_item', 'Math', 'Sience', 100, 500, 40.22, 22, 'new_var', ['Nested', 'list']]

In [177]:
lst2 = [1,2,3,4,5,6,7,8,9,10]

In [178]:
lst2.extend([11,12,13])

In [179]:
lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [180]:
print(lst2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [181]:
sum(lst2)

91

In [183]:
lst.pop()    #remove items from the list and return its value, by default it remove the last item

['Nested', 'list']

In [184]:
lst

['first_item', 'Math', 'Sience', 100, 500, 40.22, 22, 'new_var']

In [185]:
lst2.pop()

13

In [186]:
lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [187]:
lst2.pop(-1)

12

In [189]:
lst2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [190]:
lst2.pop(5)

6

In [191]:
lst2

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [210]:
lst3 = []
lst3.append(10)
lst3.extend([20,30,40])
sum(lst3)
lst3.pop()
lst3.pop(0)
lst3
sum(lst3)
lst3.append(70)
lst3
lst3.extend([200,"Qusay"])
lst3
print("my name is: {}".format(lst3[-1]))

my name is: Qusay

In [215]:
lst4 = [1,1,2,3,4,5,6,6,6,6,6,]
lst4.count(6)     # 3dd mrat alzohor

5

In [231]:
lst4.index(3,2,5) #find if number 3 in the list from 2nd - 5th elements
#lst4.index(value,index,index) , value and from where to be searched , index to index

3

In [232]:
lst2

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11]

In [238]:
lst2.index(5,4,6)

4

In [240]:
lst2.pop()

11

In [242]:
min(lst2)

1

In [243]:
max(lst2)

10

In [244]:
lst2

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [245]:
lst2*2 #the whole list will be appended again

[1, 2, 3, 4, 5, 7, 8, 9, 10, 1, 2, 3, 4, 5, 7, 8, 9, 10]

In [249]:
lst2*5

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 10]

## Set

In [58]:
set_var = {"ML1","Math","Design Thinking","DBMS"}
set_var2 = {"ML1","Math","Design Thinking","DBMS","ML2","AI Ethics","Big Data"}
set_var3 = {"DL1","DL2"}
print(set_var)
print(set_var2)
set_var3

{'Math', 'DBMS', 'Design Thinking', 'ML1'}
{'ML2', 'Big Data', 'Design Thinking', 'AI Ethics', 'Math', 'ML1', 'DBMS'}

{'DL1', 'DL2'}

In [38]:
set_var.add("Data Visualization")
set_var

{'DBMS', 'Data Visualization', 'Design Thinking', 'ML1', 'Math'}

In [32]:
print(type(set_var))

<class 'set'>

In [19]:
#set_var.clear()

In [39]:
set_var.copy()

{'DBMS', 'Data Visualization', 'Design Thinking', 'ML1', 'Math'}

In [42]:
set_var2.difference(set_var) #remove the common elements

{'AI Ethics', 'Big Data', 'ML2'}

In [48]:
set_var.pop()

'DBMS'

In [49]:
set_var

{'Data Visualization', 'Design Thinking', 'ML1', 'Math'}

In [50]:
set_var.add("DBMS")
set_var

{'DBMS', 'Data Visualization', 'Design Thinking', 'ML1', 'Math'}

In [51]:
set_var.intersection(set_var2)

{'DBMS', 'Design Thinking', 'ML1', 'Math'}

In [62]:
set_var.update(set_var3)
print("the first set is: {set}".format(set=set_var))
print(set_var3)

the first set is: {'DL1', 'Design Thinking', 'DL2', 'Math', 'ML1', 'DBMS'}
{'DL1', 'DL2'}

In [63]:
set_var.intersection(set_var2)

{'DBMS', 'Design Thinking', 'ML1', 'Math'}

In [64]:
set_var.union(set_var3)
set_var

{'DBMS', 'DL1', 'DL2', 'Design Thinking', 'ML1', 'Math'}

In [65]:
set_var.remove("Math")
set_var

{'DBMS', 'DL1', 'DL2', 'Design Thinking', 'ML1'}

In [66]:
set_var.add("math")

In [67]:
set_var

{'DBMS', 'DL1', 'DL2', 'Design Thinking', 'ML1', 'math'}

In [68]:
set_var4 = {"project"}
set_var4.difference_update(set_var2)
set_var4

{'project'}

In [81]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.difference(set2))
print(set1.difference_update(set2))
print(set1.intersection(set2))
print(set1.intersection_update(set2))
print(set1)
set1.add(1)
set1.remove(1)

{1, 2}
None
set()
None
set()

## Dictionary

In [82]:
dic = {}
type(dic)

dict

In [83]:
dic = {1,2,3}    #key:value
type(dic)

set

In [84]:
type(dict())

dict

In [91]:
my_dict = {"class1":"Math", "class2": "ML1", "class3": "DBMS"}
my_dict

{'class1': 'Math', 'class2': 'ML1', 'class3': 'DBMS'}

In [100]:
#access the value based on key
my_dict["class1"]
# print(my_dict["class2"])
# print(my_dict["class3"])

'Math'

In [101]:
for i in my_dict:
    print(i)

class1
class2
class3

In [105]:
for i in my_dict.values():
    print(i)

Math
ML1
DBMS

In [106]:
for i in my_dict.items():    # getting both, key & value
    print(i)

('class1', 'Math')
('class2', 'ML1')
('class3', 'DBMS')

In [108]:
my_dict.get("class1")

'Math'

In [113]:
my_dict["class4"] = "Data Visualization"

In [114]:
my_dict

{'class1': 'Math',
 'class2': 'ML1',
 'class3': 'DBMS',
 'class4': 'Data Visualization'}

In [115]:
my_dict["class4"] = "Project"          #when appending it will get overwritten
my_dict

{'class1': 'Math', 'class2': 'ML1', 'class3': 'DBMS', 'class4': 'Project'}

In [116]:
my_dict.values()

dict_values(['Math', 'ML1', 'DBMS', 'Project'])

In [117]:
my_dict.items()

dict_items([('class1', 'Math'), ('class2', 'ML1'), ('class3', 'DBMS'), ('class4', 'Project')])

In [118]:
my_dict.keys()

dict_keys(['class1', 'class2', 'class3', 'class4'])

In [131]:
my_dict.copy()   #show copy of dictinoay

{'class1': 'Math', 'class2': 'ML1', 'class3': 'DBMS', 'class4': 'Project'}

In [133]:
my_dict.popitem()

('class4', 'Project')

In [134]:
my_dict

{'class1': 'Math', 'class2': 'ML1', 'class3': 'DBMS'}

## Nested Dictionary

In [135]:
class1_mark = {"math": 80}
class2_mark = {"ML1" : 78}
class3_mark = {"DBMS": 91}

marks = {"class1":class1_mark, "class2": class2_mark, "class3" : class3_mark}

In [138]:
marks

{'class1': {'math': 80}, 'class2': {'ML1': 78}, 'class3': {'DBMS': 91}}

In [140]:
print(marks["class2"])

{'ML1': 78}

In [141]:
print(marks["class3"]["DBMS"])

91

## Tuples

In [142]:
#when i define it , i can't change everything

In [144]:
my_tuple = tuple()

In [145]:
type(my_typle)

tuple

In [146]:
my_tuple = ("item1", "item2", "item3")

In [147]:
my_tuple

('item1', 'item2', 'item3')

In [152]:
my_tuple[0] = "item0"           #can't add or change

TypeError: 'tuple' object does not support item assignment

In [2]:
my_tuple = ("item4", "item4", "item5") #  whole items will change
my_tuple

('item4', 'item4', 'item5')

In [3]:
my_tuple.count("item4")   #how many times the item present

2

In [160]:
my_tuple.count("item5")

1

In [162]:
my_tuple.index("item5")    #show index

2

In [154]:
# it use when the definition of an item is required just for one time
# I can't perform any operation on it